.footer-grid {
    background-color: #D9D9D9;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: start;
}

.footer-logo{
    width: 100px;
    /* width: 16vw;
    max-width: 400px; */
    height: auto;
    margin-left: 5vw;
    margin-top: 13vw;
    margin-bottom: 5vw;
}

.section-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.doormat-navigation {
    width: 20vw; /* or 20% or any other relative unit you prefer */
     /* should be equal to width for a square */
}

.contact {
    width: 20vw; /* or 20% or any other relative unit you prefer */
     /* should be equal to width for a square */ 
    grid-column-start: 2;
    grid-row-start: 2;
}

.social-media-links {
    width: 20vw; /* or 20% or any other relative unit you prefer */
     /* should be equal to width for a square */
    position: relative;
    background-color: green;
}

.doormat-links {
    list-style-type: none;
}

@media (min-width: 768px) {

    .footer-logo{
        margin-top: 54px;
        margin-left: 100px;
    }
    .section-links{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 50px;
        margin-right: 100px;
    }

    .doormat-navigation{
        grid-column-start: 1;
    }

    .contact{
        grid-column-start: 2;
    }

    .social-media-links{
        grid-column-start: 3;
    }

}
