.hero-grid{
    background-color: lightblue;
    display: grid;
    
    grid-template-rows: auto-fit;
    background-color: #495E57;
    padding-bottom: 4vh;

}

.hero-title {
    color: var(--Primary-light-color, #F4CE14);
    font-family: 'Markazi Text';
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-left: 7vw;
}

.hero-subtitle {
    color: var(--Secondary-color-3, #EDEFEE);
    font-family: Markazi Text;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    margin-left: 10vw;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.hero-description {
    color: var(--Secondary-color-3, #EDEFEE);
    display: block;
    font-family: Karla;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    max-width: 280px;
    margin-left: 10vw;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.hero-image{
    width: 50vw;
    height: auto;
    border-radius: 10px;
    margin-top: 2vh;
    margin-left: 10vw;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}

.reserve-button{
    margin-top: 4vh;
    margin-left: 10vw;
}

@media (min-width: 768px) and (max-width: 1024px){
    .hero-grid{
        grid-template-columns: auto auto;
        justify-content: center;
        align-items: center;
    }

    .hero-grid-items.hero-image{
        /* margin-left: 9vw; */
    }

    .hero-subtitle{
        grid-column-start: 1;
    }

    .hero-description{
        grid-column-start: 1;
        /* text-align: start;
        width: 100vw; */
    }

    .hero-image{
        /* min-width: 300px;
        width: 35vw;
        max-width: 390px;
        height: auto; */
        grid-column-start: 3;
        grid-row-start: 1;
        grid-row-end: 4;
        /* margin-top: 5vh; */
    }

    .hero-grid-items.reserve-button{
        /* margin-top: 5vh; */
        /* margin-left: 15vw; */
    }
}

@media  (min-width: 1025px) {

    .hero-grid {
        grid-template-columns: 33vw 50vw;
        grid-template-rows: 5vh 5vh 20vh 5vh;
    }

    .hero-grid-items.hero-subtitle{
        grid-row-start: 2;
    }

    .hero-grid-items.hero-description {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .hero-grid-items.hero-image {
        grid-column-start: 3;
        grid-row-start: 1;
        grid-row-end: 4;
        width: 75%;
    }
    .hero-grid-items.reserve-button {
        grid-row-start: 4;
    }

}