.hero-grid{
    background-color: lightblue;
    display: grid;
    place-items: start;
    background-color: #495E57;
    

}

.hero-grid-items {
    
}

.hero-image{
    width: 20rem;
    height: auto;
    border-radius: 10px;
}

.hero-title {
    color: var(--Primary-light-color, #F4CE14);
    font-family: 'Markazi Text';
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    margin: 2rem 0.5rem;
}

.hero-subtitle {
    color: var(--Secondary-color-3, #EDEFEE);
    font-family: Markazi Text;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
}

.hero-description {
    color: var(--Secondary-color-3, #EDEFEE);
    display: block;
    font-family: Karla;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    /* margin-left: 13vw;
    margin-right: 13vw;
    max-width: 600px; */
}


/* @media  (min-width: 768px) and (max-width: 1024px){
    .hero-grid {
        grid-template-columns: 50vw 1fr;
        grid-template-rows: 5vh 5vh 20vh 5vh;
        padding-bottom: 3vh;
    }

    .hero-grid-items.hero-subtitle{
        grid-row-start: 2;
    }

    .hero-grid-items.hero-description {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .hero-grid-items.hero-image {
        grid-column-start: 3;
        grid-row-start: 1;
        grid-row-end: 4;
        width: 40vw;
    }
    .hero-grid-items.reserve-button {
        grid-row-start: 4;
    }

    .hero-title {
        font-size: 6vw;
    }

    .hero-subtitle{
        font-size: 6vw;
    }

    .hero-description{
        font-size: 3vw;
    }
} */

