.specials-grid{
    display: grid;
}

.special-title {
    color: #000;
    /* Display Title */
    font-family: Markazi Text;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 25px;
}